#text-box {
  border: 1px dashed black;
  min-height: 100px;
  white-space: pre;
  font-family: 'Cutive Mono', monospace;
}
#debug {
  border: 1px dashed black;
  min-height: 100px;
}
.good-code {
  background-color: lightgreen;
}
.error {
  background-color: pink;
}
.error::before {
  content: "⚠️";
}
